.App {
  text-align: center;
  background-color: #61dafb;
  display: 'flex';
  justify-content: 'center';
  height: '100vh';
  width: 50%;
  margin-top: 200px;
  margin-left: 350px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-div{
  margin: 50px;
}
.btn{
  background-color: lightgreen;
  margin: 10px;
  height: 30px;
  width: 70px;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
